body {
    background-color: rgb(4, 63, 63);
}

img {
    width: 70%;
    height: 70%;
    margin-left: 250px;
}

p {
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 150px;
    text-align: center;
    color: whitesmoke;
}

.add {
    font-size: 100px;
    text-align: center;
    color: rgb(234, 230, 13);
} 


